*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#fff;
}
.dark{
    background-color: black;
    color:#f0f0f0;
}
.light{
    background-color: #f0f0f0;
    color:black;
}
.hide{
    display: none;
}
.btn{
    border:1px solid #3A81F5;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    cursor: pointer;
    color:#3A81F5;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 800;
}
.btn:hover{
    box-shadow: 0px 0px 10px 0px #3A81F5;
}
/* wrapper */
.wrapper{
    border:2px solid #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    place-items: center;
}
/* navbar */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 0 1rem;
  /* border:2px solid #fff; */
}
nav .name span{
    font-size: 1.5rem;
    color: #3A81F5;
    cursor: pointer;
    /* border:2px solid yellow;  */
}
nav .links {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border:2px solid red; */
}
nav .links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ddd;
  /* border:2px solid green; */
}
nav .links .link:hover {
  background-color: rgba(128, 128, 128, 0.475);
}
nav .links .link:hover i,
nav .links .link:hover a {
  color: #3A81F5;
}
.link.active {
  border: 1px solid #3A81F5;
}
.theme {
  border-radius: 50%;
  padding: 6.5px;
  background-color: rgba(128, 128, 128, 0.406);
  cursor: pointer;
  color: #3A81F5;
}
/* Media queries for navbar */
@media (max-width: 480px) {
  nav .name span{
    font-size: 1.2rem;
  }
  nav .links {
    gap: 0.5rem;
  }
  nav .links .link {
    /* padding: 12px 10px; */
    padding: 7px 5.5px;
  }
  nav .links .link a {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    gap: 0.5rem;
    padding: 0 10px;
  }
  nav .links {
    gap: 1rem;
  }
  nav .links .link a {
    display: none;
  }
}
@media (max-width:1024px){
    nav .links .link a{
        display: none;
    }
}
/* main section */
.intro{
    /* border:2px solid red; */
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:1.5rem;
    padding: 2rem;
    margin-top: 1rem;
}
.intro .firstPara{
    font-size: 1.7rem;
}
.intro h1{
    /* border:2px solid yellow; */
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#typingText {
    display: inline-block;
    min-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#cursor {
  color: #3A81F5;
  font-size: 6rem;
  font-weight: bold;
  display: inline-block;
}
.intro h3{
    font-size: 1.5rem;
}
.intro .introp{
    width: 100%; 
    line-height:1.4rem; 
    letter-spacing:0.9px;
    font-size: 1.3rem;
    text-align: center;
}
/* media queries for intro section */
@media(max-width:480px){
    .intro h1{
        font-size: 2rem;
    }
    #cursor {
        font-size: 2rem;
    }
    .intro .firstPara{
        font-size: 1rem;
    }
    .intro h3{
        font-size: 1rem;
    }
    .intro .introp{
        padding: 0;
        font-size: 0.8rem;
        line-height:1rem;
        letter-spacing:0.9px;
    }
    .btn{
        font-size: 0.8rem;
    }
}
@media(max-width:768px){
    .intro h1{
        font-size: 3rem;
    }
    #cursor {
        font-size: 3rem;
    }
    .intro .firstPara{
        font-size: 1.2rem;
    }
    .intro h3{
        font-size: 1.1rem;
    }
    .intro .introp{
        width:100%;
        padding: 0;
        font-size: 0.9rem;
        line-height:1.1rem;
        letter-spacing:0.9px;
    }
    .btn{
        font-size: 1rem;
    }
}
@media(max-width:1024px){
    .intro .introp{
        padding: 0;
    }
}
/* About Section */
.about{
    border:1px solid #3A81F5;
    width:80%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: auto;
    background-color: rgba(255,255,255,0.05);
    border-radius: 20px;
}
.about .text{
    width:50%;
}
.about h1{
    font-size:2rem;
    font-weight: 900;
    text-align: center;
    /* border:2px solid #fff; */
    margin-bottom: 1rem;
}
.about p{
    line-height:1.3; 
    letter-spacing:1px;
    font-size: 1.1rem;
}
.about .img{
    width:350px;
    height: 370px;
    padding: 10px;
}
.about .img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
@media(max-width:480px){
    .about .img{
        width:100%;
    }
    .about p{
        font-size: 0.9rem;
    }
}
@media(max-width:768px){
    .about{
        flex-direction: column;
    }
    .about .text{
        width: 100%;
    }
    .about .img{
        margin: auto;
    }
    .about .img img{
        border-radius: 100%;
    }
}
/* project section */
.project {
    padding: 2rem;
    width: 90%;
    margin: auto;
}
.project h1 {
    color: #3A81F5;
    font-size: 1.7rem;
    font-weight: 900;
}
.project-card {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid #3A81F5;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
}
.project-card h3 {
    font-size: 1.3rem;
    color: #3A81F5;
}
.project-card a {
    color: #3A81F5;
    text-decoration: underline;
    font-weight: 700;
}
